.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

#leaderboardContainer {
  // TODO: Pull in the Flex compatability mixin if anyone actually cares about IOS and IE
  display:         flex;
  justify-content: center;
  position:        relative;

  &.loaded {
    .loader {
      opacity: 0;
    }
    table {
      opacity: 1;
    }
  }
  svg {
    width:        60px;
    height:       60px;
    stroke:       #CCCCCC;
    stroke-width: 4px;
  }
  table {
    transition: .4s ease-out;
    opacity: 0;
  }
  .loader {
    display:         flex;
    justify-content: center;
    position:        absolute;
    top:             0;
    left:            0;
    right:           0;
    transition:      .4s ease-out;
    pointer-events:  none;
  }
}
