.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;

  h1 {
    font-size:      60px;
    line-height:    1;
    letter-spacing: -1px;
  }

  @media screen and (max-width: 500px) {
    margin-bottom: 20px;

    h1 {
      font-size: 32px;
      margin-top: 0;
    }
  }
}

body {
  & > footer {
    @media screen and (max-width: 500px) {
      margin-top: 20px;
    }
  }
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.responsive-video {
  position:      relative;
  width:         100%;
  max-width:     700px;
  margin-left:   auto;
  margin-right:  auto;
  margin-bottom: 20px;
  display:       block;

  &::after {
    content:     '';
    position:    static;
    box-sizing:  border-box;
    width:       100%;
    display:     block;
    padding-top: 56.25%;
  }

  & > iframe,
  & > video,
  & > embed {
    position:   absolute;
    top:        0;
    left:       0;
    width:      1px; // IOS
    height:     1px; //IOS
    min-width:  100%;
    min-height: 100%;
    margin:     0; // Reset frame or embed options the UA might have by default
    padding:    0; // Reset frame or embed options the UA might have by default
    border:     0; // Reset frame or embed options the UA might have by default
  }
}
